<!doctype html>
<html>
    <head> 
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script></head>
    <body>
        <p>
            One day <%=e.name%> walked out of (2) high school. He turned to his m8, (7) and asked, do u want 2 quickscope 2nite? (7) said sure, but u have to bring some of that dank (4) m8. (1) walked into his house and gave (7) a tour. (7) noticed that (1) had a (3), ewwwwwww said (7), u have a (3)? (1) said wh4tever m8, I can still nosc u 2nite. (7) said alright, I will need 2 use an Xbox Original controller, though. So they started playing MW2, and (1) had a 1-53 k/d, but (7) had a 420-0 k/d. Eventually, (1) gave up and said, gg skrubmeister.        
        </p>
    </body>
</html>