<!doctype html>
<html>
  <head>
    <title>Essay Writer</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <p>Test</p>
    <form action="/essay" method= "post">
      Name: <input type="text" name="name"><br>
      State: <input type="text" name="state"><br>
      PC: <input type="text" name="com"><br>
      Soda: <input type="text" name="soda"><br>
      Game: <input type="text" name="game"><br>
      MLG: <input type="text" name="mlg"><br>
      Friend: <input type="text" name="friend"><br>
    <input type="submit">

    </form>
  </body>
</html>