<!doctype html>
<html>
  <head>
    <title>Essay Writer</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  <h1>Maddest of Libs</h1>
    <form action="/essay" method= "post">
     What is your Name?: <input type="text" name="name"><br>
      What State you live in?: <input type="text" name="state"><br>
      PC or Mac? : <input type="text" name="com"><br>
      What is your favorite soda?: <input type="text" name="soda"><br>
      What is your favorite online game?: <input type="text" name="game"><br>
      What is your best Friend's name?: <input type="text" name="friend"><br>
    <input type="submit">

    </form>
  </body>
</html>